.application {
    overflow: auto;
    &--wrapper {
        &--container {
            box-sizing: border-box;
            position: relative;
            margin-top: 20px;
            background-color: $dark-blue;
            min-width: 480px;
            min-height: 100%;
            border-radius: 50px;
            padding: 24px 46px;
            @media (max-width: 480px) {
                margin-top: 0;
                padding: 23px 23px;
                border-radius: 0;
            }
        }
    }
}
